{% extends "encyclopedia/layout.html" %} {% block title %} Encyclopedia
{%endblock%} {% block body %}
<h1 style="width: fit-content">Edit Page</h1>

<form action="" method="post" style="display: flex; flex-direction: column">
  {% csrf_token %}
  <label for="text">Type your Text here</label>
  <textarea
    name="text"
    id="text"
    cols="10"
    rows="10"
    style="width: 500px; height: 200px"
  >
{{content}}</textarea
  >
  <input type="submit" style="width: fit-content; margin-top: 10px" />
</form>

{% endblock %}
